body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url("../image/fundo_rpg.jpg") ; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;

}

form {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 0.5em;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 20em;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 0.25em;
    border: 1px solid #ccc;
}
#error-message {
    color: red;
    margin-top: 1em;
    display: none;
}
button {
    font-size: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
}

.menu{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.login{
    max-width: 600px;
    margin: auto;
    padding: 60px 70px 60px 70px;
    padding-left: auto;
    border: 1px solid #807f7f;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #eeeded;
    
}

li{
    list-style: none;
    text-transform: capitalize;
    text-align: center;
}

